{% extends 'catalog/base.html' %}

{% load media %}

{% block content %}

<main class="row">
    <div class="row text-center">

            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal">{{ object.title|title }}</h4>
                </div>
                <div class="card-body">
                    <p>
                        {{ object.content }}
                    </p>
                    {% if object.preview %}
                    <img src="{{ object.preview|media_path }}" alt="Изображение - {{ object.title|lower }}">
                    {% endif %}

                    <a href="update/" class="w-100 btn btn-lg btn-primary">Редактировать</a>
                </div>

                <div class="card-footer">Просмотры: {{ object.views_count }} </div>
            </div>

    </div>
</main>
{% endblock %}