{% extends 'catalog/base.html' %}

{% block content %}
        <header>
            <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
                <h1 class="display-4 fw-normal text-body-emphasis">Контакты</h1>
                <p class="fs-5 text-body-secondary">Где-то здесь наши контакты</p>
            </div>
        </header>

        <main class="row">
            <div class="row text-center">

                <div class="col-12">
                    <div class="card">
                        <div class="card-header py-3">
                            <h4 class="my-0 fw-normal">Форма обратной связи</h4>
                            <div id="Help" class="form-text">Вводите только вымышленные данные!</div>
                        </div>
                        <div class="card-body">
                            <form method="post">
                                {% csrf_token %}
                                <div class="mb-3">
                                    <label for="Name" class="form-label text-left">Имя</label>
                                    <input name="name" type="text" class="form-control" id="Name" placeholder="Иван">

                                </div>
                                <div class="mb-3">
                                    <label for="Tel" class="form-label text-left">Телефон</label>
                                    <input name="tel" type="text" class="form-control" id="Tel"
                                           placeholder="+7(951)222-44-33">
                                </div>
                                <div class="mb-3">
                                    <label for="Email" class="form-label">Email</label>
                                    <input name="email" type="email" class="form-control" id="Email"
                                           placeholder="example@mydomain.ru"
                                           aria-describedby="emailHelp">
                                </div>
                                <div class="mb-3">
                                    <label for="textarea" class="form-label">Сообщение</label>
                                    <textarea name="text" class="form-control" id="textarea"></textarea>
                                </div>



                                <button type="submit" class="btn btn-primary">Свяжитесь со мной!</button>
                            </form>


                        </div>
                    </div>

                </div>
            </div>
        </main>
{% endblock %}