

            </div>
        </main>
        <header>
            <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
                <h1 class="display-6 fw-normal text-body-emphasis">FAQ</h1>
            </div>
        </header>

        <main class="row">
            <div class="row text-center">
                <div class="row">
                    <div class="col">
                        <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                                data-bs-target="#multiCollapse1" aria-expanded="false"
                                aria-controls="multiCollapse1">Как купить?
                        </button>
                    </div>
                    <div class="col">
                        <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                                data-bs-target="#multiCollapse2" aria-expanded="false"
                                aria-controls="multiCollapse2">Как доставить?
                        </button>
                    </div>
                    <div class="col">
                        <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                                data-bs-target="#multiCollapse3" aria-expanded="false"
                                aria-controls="multiCollapse3">Какая гарантия?
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="collapse multi-collapse" id="multiCollapse1">
                        <p></p>
                        <div class="card card-body">
                            Для того, чтобы купить товар, Вам необходимо нажать зеленую кнопку купить.
                            Важно нажать именно зелёную, а не синюю кнопку.
                        </div>
                    </div>
                    <div class="collapse multi-collapse" id="multiCollapse2">
                        <p></p>
                        <div class="card card-body">
                            Доставка производиться в автоматическом режиме компанией Рога&Копыта
                        </div>
                    </div>
                    <div class="collapse multi-collapse" id="multiCollapse3">
                        <p></p>
                        <div class="card card-body">
                            В наше нелегкое время ни одна компания не сможет вам дать стопроцентной гарантии.
                            Держитесь, мы в вас верим!
                        </div>
                    </div>
                </div>
            </div>
        </main>


    </div>


    <div class="b-example-divider b-example-vr"></div>


</main>

<script src="/static/bootstrap.bundle.min.js"></script>

<script src="sidebars.js"></script>
</body>
</html>
